.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.overlay a {
    padding: 8%;
    text-decoration: none;
    font-size: xx-large;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #e4e4e4;
}


.overlay .overlay-close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c9c5c5;
}
.nav-space {
    background-color:silver;
    width: auto;
    height: auto;
    margin-bottom: 20px;
}

.overlay-open {
    font-size: xx-large;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    transition: 0.1s;
}

.overlay-open:hover, .overlay-open:focus {
    color: #5c5c5c;
}

